# Bank Holidays preprocessing

In [9]:
import pandas as pd

#### Bank_Holidays.csv contains Spain balnk holidays from 01-01-2014 to 31-12-2020

In [10]:
bank_holidays  = pd.read_csv('Files/Bank_Holidays.csv', sep = ';')
bank_holidays.head()

         Date        Day            Title  Bank Holiday
0  01/01/2010     Friday   New Year's Day             1
1  06/01/2010  Wednesday         Epiphany             1
2  01/04/2010   Thursday  Maundy Thursday             1
3  02/04/2010     Friday    Maundy Friday             1
4  01/05/2010   Saturday        Labor Day             1

In [11]:
bank_holidays.dtypes

Date            object
Day             object
Title           object
Bank Holiday     int64
dtype: object

#### Cast Date column to datetime and create Date_string in string format

In [12]:
bank_holidays['Date'] = pd.to_datetime(bank_holidays['Date'])
bank_holidays['Date_string'] = bank_holidays['Date'].dt.strftime('%Y-%m-%d')
bank_holidays.head()

        Date        Day            Title  Bank Holiday Date_string
0 2010-01-01     Friday   New Year's Day             1  2010-01-01
1 2010-06-01  Wednesday         Epiphany             1  2010-06-01
2 2010-01-04   Thursday  Maundy Thursday             1  2010-01-04
3 2010-02-04     Friday    Maundy Friday             1  2010-02-04
4 2010-01-05   Saturday        Labor Day             1  2010-01-05

#### Is needed to create a new DataFrame in hourly format

In [13]:
bank_holidays_hourly = pd.DataFrame()

In [14]:
# 'Date' serie in hourly format
date_range = pd.date_range(start='2010-01-01 00:00:00', end='2020-12-31 23:00:00', freq='1H')
bank_holidays_hourly['Date'] = pd.Series(date_range)

# 'Date_string' serie as 'Date' serie in string format
bank_holidays_hourly['Date_string'] = bank_holidays_hourly['Date'].dt.strftime('%Y-%m-%d')

# 'Holiday' serie initialized to zero
bank_holidays_hourly['Holiday'] = 0

# 'Weekend' serie: if weekday = 5 or weekday = 6 -> 1 else 0
bank_holidays_hourly['Weekend'] = 0
for index, elem in bank_holidays_hourly['Date'].iteritems():
    if (elem.weekday() == 5) | (elem.weekday() == 6):
        bank_holidays_hourly['Weekend'].iloc[index] = 1
bank_holidays_hourly.head()

/home/clagodmor/.local/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                 Date Date_string  Holiday  Weekend
0 2010-01-01 00:00:00  2010-01-01        0        0
1 2010-01-01 01:00:00  2010-01-01        0        0
2 2010-01-01 02:00:00  2010-01-01        0        0
3 2010-01-01 03:00:00  2010-01-01        0        0
4 2010-01-01 04:00:00  2010-01-01        0        0

#### Checking holiday coincidences for bank_holidays_hourly and bank_holidays DF

In [15]:
for index1, elem1 in bank_holidays['Date_string'].iteritems():
    for index2, elem2 in bank_holidays_hourly['Date_string'].iteritems():
        if elem1 == elem2:
            bank_holidays_hourly['Holiday'].iloc[index2] = 1
bank_holidays_hourly.tail()

/home/clagodmor/.local/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                     Date Date_string  Holiday  Weekend
96427 2020-12-31 19:00:00  2020-12-31        0        0
96428 2020-12-31 20:00:00  2020-12-31        0        0
96429 2020-12-31 21:00:00  2020-12-31        0        0
96430 2020-12-31 22:00:00  2020-12-31        0        0
96431 2020-12-31 23:00:00  2020-12-31        0        0

#### Generate final bank_holiday file

In [16]:
bank_holidays_final = bank_holidays_hourly[['Date','Holiday','Weekend']]
bank_holidays_final.head()

                 Date  Holiday  Weekend
0 2010-01-01 00:00:00        1        0
1 2010-01-01 01:00:00        1        0
2 2010-01-01 02:00:00        1        0
3 2010-01-01 03:00:00        1        0
4 2010-01-01 04:00:00        1        0

In [17]:
bank_holidays_final.to_csv('Files/Bank_Holidays_Final.csv', sep = '^', index=False)