In [2]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from esios import *

Create dictionary with Indicator Name and Number of Indicator

In [3]:
indicatorsDict = {
    'Previsión diaria de la demanda eléctrica peninsular' : 460,
#                   'Generación prevista Solar' : 10034,
#                   'Previsión de la producción eólica nacional peninsular' : 541,  
                  'Precio medio horario componente mercado diario' : 805,
                  'Generación T.Real nuclear' : 549,
#                   'Generación T.Real Solar' : 10206,
                  'Generación T.Real hidráulica' : 546,
                  'Generación T.Real eólica' : 551,
                  'Generación T.Real Solar térmica' : 1294,
                  'Generación T.Real Solar fotovoltaica' : 1295
                 }

indicatorsItems = indicatorsDict.items()   # To iterate over name and number at the same time

Download indicators data from 01/01/2016 to 01/06/2020 and save it into `".csv"` files.

In [4]:
if __name__ == '__main__':
    start_date = "2016-01-01"
    end_date = "2020-05-01"
    start_ = start_date + 'T00:00:00'
    end_ = end_date + 'T23:50:00'
    token = '6cc21e0b60e9931e7522a6ce72a1a09f3a6fadc6f08b142f956db142c6858bc2'    # Introduce ESIOS token
    esios = ESIOS(token)
    for indicatorName, indicatorValue in indicatorsItems:
        print ('Start Date: ' + start_date)
        print ('End Date: ' + end_date)
        indicators_ = list()
        indicators_.append(indicatorValue)
        dfmul , df_list, names = esios.get_multiple_series_Spain(indicators_, start_, end_)
        df = dfmul[names]
        df = df.reset_index()
        df.columns = ['Date', indicatorName]
        df['Date'] = df['Date'].str.replace('.', ' ')
        df['Date'] = df['Date'].str.split().str[0]
        df['Date'] = df['Date'].str.replace('T', ' ')
        # Export to .csv file
        try:
            os.stat("Files/")
        except:
            os.mkdir("Files/")
        df.to_csv(path_or_buf= 'Files/' + str(indicatorValue) + '.csv', sep='^', index=False)
        print('Generated:' + str(indicatorValue))

Analyzing indicators...
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Previsión diaria de la demanda eléctrica peninsular
Generated:460
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Precio medio horario componente mercado diario
Generated:805
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Generación T.Real nuclear
Generated:549
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Generación T.Real hidráulica
Generated:546
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Generación T.Real eólica
Generated:551
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Generación T.Real Solar térmica
Generated:1294
Start Date: 2016-01-01
End Date: 2020-05-01
Downloading Generación T.Real Solar fotovoltaica
Generated:1295

Read `'.csv'` files generated in different DataFrames.

In [5]:
with open('Files/460.csv', 'r') as fichero:     
    dfDemand = pd.read_csv(fichero, sep = '^', dtype='object')
    dfDemand['Date']=pd.to_datetime(dfDemand['Date'])
    
with open('Files/1294.csv', 'r') as fichero:     
    dfSolarT = pd.read_csv(fichero, sep = '^', dtype='object')
    dfSolarT['Date']=pd.to_datetime(dfSolarT['Date'])
    
with open('Files/1295.csv', 'r') as fichero:     
    dfSolar = pd.read_csv(fichero, sep = '^', dtype='object')
    dfSolar['Date']=pd.to_datetime(dfSolar['Date']) 
    
with open('Files/551.csv', 'r') as fichero:     
    dfEolic = pd.read_csv(fichero, sep = '^', dtype='object')
    dfEolic['Date']=pd.to_datetime(dfEolic['Date'])
    
with open('Files/805.csv', 'r') as fichero:     
    dfPrice = pd.read_csv(fichero, sep = '^', dtype='object')
    dfPrice['Date']=pd.to_datetime(dfPrice['Date']) 
        
with open('Files/546.csv', 'r') as fichero:     
    dfHidro = pd.read_csv(fichero, sep = '^', dtype='object')
    dfHidro['Date']=pd.to_datetime(dfHidro['Date']) 
        
with open('Files/549.csv', 'r') as fichero:     
    dfNuclear = pd.read_csv(fichero, sep = '^', dtype='object')
    dfNuclear['Date']=pd.to_datetime(dfNuclear['Date'])

In [6]:
dfDemand.sample(5)

                     Date Previsión diaria de la demanda eléctrica peninsular
27711 2019-02-28 15:00:00                                            30258.0
35365 2020-01-13 13:00:00                                            37636.0
4936  2016-07-24 17:00:00                                            26017.0
23737 2018-09-16 02:00:00                                            22271.0
19536 2018-03-25 00:00:00                                            26360.0

In [7]:
dfSolar.sample(5)

                      Date Generación T.Real Solar fotovoltaica
205256 2019-11-26 09:20:00                                559.0
210665 2020-01-02 22:50:00                                 20.0
121160 2018-04-21 10:20:00                               1194.0
37342  2016-09-16 08:40:00                                333.0
153657 2018-12-03 01:30:00                                 18.0

In [8]:
dfEolic.sample(5)

                      Date Generación T.Real eólica
26061  2016-06-30 00:30:00                   4726.0
214937 2020-02-01 14:50:00                  10430.0
14957  2016-04-13 21:50:00                   5726.0
110269 2018-02-04 18:10:00                   4614.0
185777 2019-07-14 03:50:00                   6647.0

In [9]:
dfPrice.sample(5)

                     Date Precio medio horario componente mercado diario
3811  2016-06-07 20:00:00                                           44.5
22444 2018-07-24 05:00:00                                          59.88
17708 2018-01-07 20:00:00                                          72.21
32741 2019-09-26 06:00:00                                          48.59
22415 2018-07-23 00:00:00                                          62.14

In [10]:
dfNuclear.sample(5)

                      Date Generación T.Real nuclear
220550 2020-03-11 14:20:00                    7088.0
67780  2017-04-15 17:40:00                    7013.0
78341  2017-06-28 01:50:00                    5657.0
189731 2019-08-10 14:50:00                    6912.0
204727 2019-11-22 17:10:00                    5029.0